<div class="row">
    <div class="col-md-2">
        <h2 [routerLink]="['/erp/upload']">Upload</h2>
    </div>
    <div class="col-md-2">
        <h2 [routerLink]="['/erp/picture']">Picture</h2>
    </div>
    <div class="col-md-2">
        <h2 [routerLink]="['/erp/mail']">Mail</h2>
    </div>
    <div class="col-md-2">
        <h2 [routerLink]="['/erp/like']">Like dislike</h2>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
        Launch second demo modal
      </button>
</div>


<div class="row">
   <router-outlet></router-outlet>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title 2 </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" >Save changes</button>
        </div>
      </div>
    </div>
  </div>
<div *ngFor="let p of posts">
  <app-like-dislike [p]="p">

  </app-like-dislike>

  </div>